<nav class="p-3">
  <ul class="nav nav-pills">
<!--        <li>-->
<!--          <button routerLink="/home" class="btn btn-outline-info ms-2">Home-->
<!--            <i class=" bi bi-house text-succes"></i>-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button routerLink="/products" class="btn btn-outline-info ms-2">Products-->
<!--            <i class=" bi bi-arrow-down-up text-succes"></i>-->
<!--          </button>-->
<!--        </li>-->
<!--        <li>-->
<!--          <button routerLink="newProduct" class="btn btn-outline-info ms-2">New Product-->
<!--            <i class=" bi bi-plus-circle text-succes"></i>-->
<!--          </button>-->
<!--        </li>-->
    <li *ngFor="let action of actions">
      <button (click)="setCurrentAction(action)" routerLink="{{action.route}}" [class]="action==currentAction?'btn btn-info ms-1':'btn btn-outline-info ms-1'">
        {{action.title}}
        <i class="bi bi-{{action.icon}}"></i>
      </button>
    </li>
  </ul>
</nav>
<router-outlet>

</router-outlet>
